.popup__slider {
    display: flex;
    flex-direction: row;
    margin: 0 auto 15px;
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .popup__slider {
        margin: 0 auto 10px;
    }
}