.album {
    z-index: 1;
    display: flex;
    flex-direction: row;
    max-width: 75%;
    min-height: 408px;
    margin: 100px auto;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    z-index: 0;
}

@media (max-width: 767px) {
    .album {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}